<!doctype html>
<html>
<head>
	<title>Calculate Body Fat</title>
	<meta charset="UTF-8">
	<script src="/scripts/lib/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="/scripts/lib/moment.min.js" type="text/javascript"></script>
	<script src="/scripts/lib/kendo.web.js" type="text/javascript"></script>
	<script src="/scripts/app.js" type="text/javascript"></script>

	<link href="/styles/kendo.common.css" rel="stylesheet" />
	<link href="/styles/kendo.fitness.css" rel="stylesheet" />
	<link href="/styles/site.css" rel="stylesheet" />
</head>
<body>

	<!-- Layout Template -->

	<script type="text/x-kendo-template" id="fitness-layout-template">
		<header>
			<div id="logo">
				<p><span class="kendo">Kendo UI</span> Fitness</p>
			</div>
			<div id="navigation">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Weight</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>
		</header>
		<section id="content">
		</section>
		<footer>
			<div id="info">Created by <a href="http://www.carlbergenhem.com" target="_blank">Carl Bergenhem</a></div>
		</footer>
	</script>

	<!-- End Layout Template -->

	<!-- Views -->

	<!-- Caliper Window View -->
	<script type="text/x-kendo-template" id="caliper-window-view">
		<div 	id="caliperWindow"
				data-role="window"
				data-title="Before We Begin"
				data-modal="true"
				data-draggable="false"
				data-resizable="false"
				data-width="400px"
				data-height="250px"
				data-visible="true">
			<h1>Do you have skin calipers?</h1>
			<div>
				<a class="k-button" href="#" data-bind="events: {click: bfClick }">Yes</a>
				<a class="k-button" href="#" data-bind="events: {click: bmiClick }">No</a>
			</div>
			<p>
				<a id="caliperExplanation" href="#" data-bind="events: {click: explanationClick }">Why does it matter?</a>
			</p>
		</div>
	</script>

	<!-- Recoding View -->
	<script type="text/x-kendo-template" id="recording-view">
		<div class="view-content">
			<h1>Enter Today&#39;s Values</h1>
			<div class="input-form">
				<ol class="form-list">
					<li>
						<label for="weight-input">Weight</label>
						<input type="number" min="0" step="0.5" id="weight-input" class="k-textbox" />
					</li>
					<li>
						<label for="chest-input">Chest</label>
						<input type="number" min="0" step="0.1" id="chest-input" class="k-textbox" />
					</li>
					<li>
						<label for="ab-input">Abs</label>
						<input type="number" min="0" step="0.1" id="ab-input" class="k-textbox" />
					</li>
					<li>
						<label for="thigh-input">Thigh</label>
						<input type="number" min="0" step="0.1" id="thigh-input" class="k-textbox" />
					</li>
			</div>
		</div>
	</script>

	<!-- Settings View -->
	<script type="text/x-kendo-template" id="settings-view">
		<div class="view-content">
			<h1>Settings</h1>
			<div class="input-form">
				<ol class="form-list">
					<li>
						<label class="selector-label">Unit</label>
						<div class="selector-group">
							<input type="radio" name="unit" value="metric" id="metric-selector" />
							<label for="metric-selector">Metric</label>
							<input type="radio" name="unit" value="imperial" id="imperial-selector" />
							<label for="imperial-selector">Imperial</label>
						</div>
					</li>
					<li>
						<input type="number" min="0" step="1" id="age-input" class="k-textbox" />
						<label for="age-input">Age</label>
					</li>
					<li>
						<input type="number" min="0" step="1" id="height-input" class="k-textbox" />
						<label for="height-input">Height</label>
					</li>
					<li>
						<label class="selector-label">Gender</label>
						<div class="selector-group">
							<input type="radio" name="gender" value="male" id="male-selector" />
							<label for="male-selector">Male</label>
							<input type="radio" name="gender" value="female" id="female-selector" />
							<label for="female-selector">Female</label>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</script>

	<!-- End Views -->

	<!-- Templates -->

	<script type="text/x-kendo-template" id="tooltipTemplate">
		<div id="tooltipContent">
			<h2>Importance of Calipers</h2>
			<p>Skin calipers allow for more accurate body fat percentage results. With calipers you can calculate<strong>Body Fat Percentage</strong>, <strong>Lean Muscle Mass</strong>, <strong>Total Fat Mass</strong>, as well as <strong>FFMI</strong></p>
			<p>Without calipers only the <strong>BMI</strong> can be provided</p>
		</div>
	</script>

	<!-- End Templates -->

	<div id="main"></div>

	<script type="text/javascript">

		function centerWindowz(e){
			console.log('page');
		}
		(function() {
			FitnessApp.startApp();
		})();
	</script>
</body>
</html>