@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ebebeb;
	font-family: 'OpenSans', Helvetica;
	font-size: 12px;
}

header, #content, footer { 
	position: absolute;
	left: 0px;
	width: 100%;
}

header, footer {
	background-color: #242424;
	color: #ebebeb;
}

header {
	height: 100px;
	top: 0px;
	
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

header .kendo {
	color: #e15613;
}

header div#logo {
	line-height: 2.5em;
	font-size: 3em;
	margin-left: 20px;
}

header div#navigation {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
}

header div#navigation ul {
	list-style: none;
}

header div#navigation li {
	display: inline-block;
	height: 100px;
	width: 100px;

	margin-left: -3px;

	font-size: 1.75em;

	line-height: 4.5em;

	text-align: center;
}

header div#navigation li:hover {
	background-color: #000000;
}

header div#navigation li a {
	text-decoration: none;
	color: #ebebeb;
	display: inline-block;
	height: 100px;
	width: 100px;
}

section#content {
	top: 100px;
	bottom: 50px;
	overflow: auto;
}

section#content div#chooser{
	margin: 50px auto;
	width: 710px;
}

section#content div#chooser > div {
	display: inline-block;
	margin: 20px 25px 20px 25px;
	width: 300px;
	height: 400px;
	text-align: center;
	background-color: #E0E0E0;

	border-radius: 3px;
	box-shadow: inset 0px 1px 0px #c5c5c5;
}

section#content div#chooser > div:hover {
	background-color: #DBDBDB;

	border-radius: 3px;
	box-shadow: inset 0px 1px 0px #c5c5c5, 0px 1px 0px #c5c5c5;
}

section#content div#chooser > div h3 {
	margin-top: 20px;
	font-size: 2em;
}

footer {
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	height: 50px;

	border-top-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
}

footer #info {
	text-align: center;
	margin: 20px auto;
}

